.page_header {
  position: fixed;
  z-index: 99;
  padding: 8px 16px;
  backdrop-filter: blur(20px);
  display: flex;
  min-height: 85px;
  line-height: 25.6px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-top: 0px;
  right: 25px;
  top: 12px;
  width: calc(100vw - calc($side-menu-collapsed-width + 50px));
  border-radius: 16px;
  transition: var(--timeout-short) $anim-fn width;
  .inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.collapsed {
    width: calc(100vw - calc($side-menu-expanded-width + 50px));
  }
}
