.side-menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: var(--timeout-short) ease-in-out background, 100ms ease outline, var(--timeout-short) ease-in-out color;
  border-radius: var(--mantine-radius-md);
  position: relative;
  overflow: hidden;
  padding: 10px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  min-height: 43px;
  &.expanded {
    padding-left: 15px;
    .content {
      display: block;
    }
    .inner {
      transform: translateX(0px);
    }
  }

  .inner {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: inherit;
    transition: var(--timeout-short) $anim-fn transform;
    transform: translateX(20%);
  }
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 2;
    white-space: nowrap;
    line-height: 1;
    display: none;
  }
  &::before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    background: var(--mantine-color-white);
    left: -4px;
    transition: var(--timeout-short) ease opacity, var(--timeout-short) cubic-bezier(0.42, 0.97, 0.52, 1.49) left;
    opacity: 0.7;
  }
  &:hover,
  &.active {
    background: var(--color-primary);
    color: #fff !important;
  }
  &.active {
    &::before {
      left: 0px;
    }
  }
  &:focus-visible {
    outline: 2px solid var(--color-primary);
  }
  &:active {
    animation: press 0.2s 1 linear;
  }
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  to {
    transform: scale(1);
  }
}
