.preloader {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  .left-pane {
    width: 35%;
    min-width: 500px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: var(--timeout-short) width ease;
    .card {
      border-top-right-radius: var(--mantine-radius-lg);
      border-bottom-right-radius: var(--mantine-radius-lg);
      padding: 20px 20px 40px 40px;
      position: relative;
      height: 100%;
      width: 100%;
      .bottom-panel {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .error-button {
          width: max-content;
          height: 40px;
        }
        .status-indicator {
          font-weight: 600;
          font-size: 16px;
          &.danger {
            color: var(--mantine-color-red-5);
            font-weight: 500;
          }
        }
      }
      .title {
        transition: var(--timeout-short) ease font-size;
        font-size: 60px;
        text-transform: capitalize;
        font-weight: 700;
        line-height: 1.2;
        &.colored {
          color: var(--color-primary);
        }
      }
      .card-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        .top-panel {
          position: absolute;
          top: 0;
        }
      }
    }
  }
  .right-pane {
    width: 100%;
    flex: 1 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

@media screen and (max-width: 1540px) {
  .preloader .left-pane .inner-content .mid-panel .title {
    font-size: 60px;
  }
}

@media screen and (max-width: 1280px) {
  .preloader .left-pane .inner-content .mid-panel .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1100px) {
  .preloader .left-pane .inner-content .mid-panel .title {
    font-size: 40px;
  }
}
