.form_group {
  .elements {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &.grid {
    .elements {
      display: grid;
      justify-content: space-between;
      align-items: flex-end;
      gap: 10px;
      row-gap: 5px;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
