.header {
  z-index: 300;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1.5rem !important;
  margin: auto 0;
}

.inner {
  height: 100%;
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.65rem 1.25rem;
}

.divider-wrapper {
  display: flex;
  justify-content: center;
}

.divider {
  width: 100%;
}

.submit-button {
  color: var(--mantine-color-white);
}
