.ripple {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  background: hsla(0, 0%, 100%, 0.5);
  animation-name: ripple;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
