.transition.fade-enter {
  opacity: 0.01;
}

.transition.fade-enter-active {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: ease-in;
}

.transition.fade-exit {
  opacity: 1;
}

.transition.fade-exit-active {
  opacity: 0.01;
  transition-property: opacity;
  transition-timing-function: ease-in;
}

.transition.slide-left-enter {
  transform: translateX(-100%);
}

.transition.slide-left-enter-active {
  transform: translateX(0%);
  transition-property: transform;
  transition-timing-function: ease-in;
}

.transition.slide-left-exit {
  transform: translateX(0%);
}

.transition.slide-left-exit-active {
  transform: translateX(-100%);
  transition-property: transform;
  transition-timing-function: ease-in;
}

.transition.slide-right-enter {
  transform: translateX(100%);
}

.transition.slide-right-enter-active {
  transform: translateX(0%);
  transition-property: transform;
  transition-timing-function: ease-in;
}

.transition.slide-right-exit {
  transform: translateX(0%);
}

.transition.slide-right-exit-active {
  transform: translateX(100%);
  transition-property: transform;
  transition-timing-function: ease-in;
}

.transition.slide-up-enter {
  transform: translateY(-100%);
}

.transition.slide-up-enter-active {
  transform: translateY(0%);
  transition-property: transform;
  transition-timing-function: ease-in;
}

.transition.slide-up-exit {
  transform: translateY(0%);
}

.transition.slide-up-exit-active {
  transform: translateY(-100%);
  transition-property: transform;
  transition-timing-function: ease-in;
}

.transition.slide-down-enter {
  transform: translateY(100%);
}

.transition.slide-down-enter-active {
  transform: translateY(0%);
  transition-property: transform;
  transition-timing-function: ease-in;
}

.transition.slide-down-exit {
  transform: translateY(0%);
}

.transition.slide-down-exit-active {
  transform: translateY(100%);
  transition-property: transform;
  transition-timing-function: ease-in;
}

.transition.grow-enter {
  transform: scale(0);
}

.transition.grow-enter-active {
  transform: scale(1);
  transition-property: transform;
  transition-timing-function: ease-in;
}

.transition.grow-exit {
  transform: scale(1);
}

.transition.grow-exit-active {
  transform: scale(0);
  transition-property: transform;
  transition-timing-function: ease-in;
}
