.card {
  padding: 20px;
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
  gap: 5px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .title {
      display: flex;
      gap: 10px;
      align-items: center;
      > span {
        line-height: 1;
      }
    }
  }
  .body {
    width: 100%;
  }
  &.full-size {
    width: 100%;
    height: 100%;
  }
}
