.card {
  box-shadow: rgba(112, 144, 176, 0.08) 14px 17px 40px 4px;
  padding-bottom: 30px;
  background: #fff;
  border-radius: 16px;
  .card-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      color: var(--color-text-primary);
      font-size: 24px;
    }
  }
}

.form-demo {
  form {
    display: flex;
    flex-flow: column;
    width: fit-content;
    gap: 20px;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease 300ms;
  animation-fill-mode: forwards;
}

.progress-bar {
  position: absolute !important;
  bottom: 0;
  top: unset !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// table tr td:first-child {
//   border-top-left-radius: 10px;
//   border-bottom-left-radius: 10px;
// }

// table tr td:last-child {
//   border-top-right-radius: 10px;
//   border-bottom-right-radius: 10px;
// }
