.page_body {
  padding: 80px 20px 10px 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  animation-name: slide-mount;
  animation-duration: var(--timeout-short);
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  & > section {
    height: 100%;
  }
}

@keyframes slide-mount {
  from {
    opacity: 0.7;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
