$side-width: 220px;

.root {
  height: 100vh;
  display: flex;
  width: 100%;
  overflow: hidden;
  .root-inner {
    transition: var(--timeout-short) $anim-fn width;
    height: 100%;
    width: calc(100% - $side-menu-collapsed-width);
    &.collapsed {
      width: calc(100% - $side-menu-expanded-width);
    }
  }
}
