@font-face {
  font-family: 'DMSans';
  src: local('DMSans-Regular'), url(@src/assets/fonts/DMSans/DMSans-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'DMSans';
  font-weight: 500;
  src: local('DMSans-Medium'), url(@src/assets/fonts/DMSans/DMSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'DMSans';
  font-weight: 700;
  src: local('DMSans-Bold'), url(@src/assets/fonts/DMSans/DMSans-Bold.ttf) format('truetype');
}

* {
  font-family: 'DMSans', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-root: #f5f5f5;
  --color-primary: var(--mantine-color-primary-5);
  --color-text-primary: #1b254b;
  --color-text-secondary: #2d3748;
  --timeout-short: 300ms;
  --timeout-long: 600ms;
  --scrollbar-width: 15px;
  --scroller-thumb-color: rgba(0, 0, 0, 0.4);
}

body {
  overflow: hidden;
}

[data-theme='light'] {
  --scroller-thumb-color: rgba(0, 0, 0, 0.4);
}

[data-theme='dark'] {
  --scroller-thumb-color: hsla(0, 0%, 100%, 0.4);
}
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroller-thumb-color);
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

::selection {
  background: var(--mantine-color-primary-4);
  color: var(--mantine-color-white);
}
