@mixin mount-anim {
  animation-name: mount;
  animation-duration: var(--timeout-short);
  animation-timing-function: $anim-fn;
  animation-fill-mode: forwards;
}

.logo {
  transition: var(--timeout-short) $anim-fn transform;
  transform: translateX(9px);
  width: 100px;
  .logo-label {
    display: none;
  }
  &.expanded {
    transform: translateX(0);
    .logo-label {
      @include mount-anim;
      display: block;
    }
  }
}
