.dots_loader {
  display: flex;
  gap: 5px;
  margin-left: 15px;
}

.dots_loader .single-dot {
  transition: all 500ms ease;
  background: #f4f4f4;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 10px;
  animation: wave 2s ease infinite;
}

@keyframes wave {
  0% {
    transform: translate(0, 0);
    background-color: transparent;
  }
  100% {
    transform: translate(-15px, 0px);
    background-color: var(--mantine-color-primary-4);
  }
}
