.access-list-wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
  .inner-list {
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  .no-result_view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}
